@import "tailwindcss";
/* In globals.css or tailwind.css */
.perspective {
  perspective: 1200px;
}
@font-face{
  font-family: Welcome;
  src: url("./Fonts/NewWaltDisneyUi-8YdA.ttf");
}
@font-face {
  font-family: Hindi;
  src: url("./Fonts/Hindi.woff2");
}